.navigation {
    display: inline-block;
    padding: 30px;

}
.side-bar{
    display: block;
    float:left;
    width: 15%;
    height: 100px;
    border: 1px solid red;
    margin-left:4%;
    margin-top: 5px;
}
/*.upper-side-bar{
    width: 29%;
    height: 100px;
    float: left;
    position: relative;
}*/
.blue-sky{
    height: 200px;
    width: 200px;}
   /* position: fixed;
    top:10;
    left: 10px; 
}*/
.lower-side-bar{
    text-align:center;
}
h3{
    font-size: 25px;
    width: 200px;
 

} 
.main{
    width: 70%;
    float: left;
    
    margin-left: 50px;
    margin-top: 10px;
    border: 1px solid red;
    
}
p{
    width: 70%;
}
.main-upper-images{
    float: left;
    margin-right: 10px;
    margin-bottom: 2px;
    

}
.main-upper{
 text-align: justify;
 font-size: 15px;
 margin-bottom: 100px;
}
.main-lower{
   
    width: 200px;
    height: 200px;

}
#slideshow{
    height: 50px;
}